{% extends "layout.html" %}

{% block title %}Liste des reverse proxies{% endblock %}

{% block content %}
    <div class="container">
        <h2>Liste des reverse proxies</h2>
        <form method="get">
            <div class="form-group">
                <label for="id_rp">Sélectionner un reverse-proxy par ID :</label>
                <input type="text" class="form-control" id="id_rp" name="id_rp">
            </div>
            <button type="submit" class="btn btn-primary">Rechercher</button>
        </form>
        <hr>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nom</th>
                    <th>Adresse IP</th>
                    <th>Port</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for rp in reverse_proxies %}
                    <tr>
                        <td>{{ rp.id }}</td>
                        <td>{{ rp.name }}</td>
                        <td>{{ rp.ip_address }}</td>
                        <td>{{ rp.port }}</td>
                        <td>
                            <form action="{{ url_for('delete_rp', id_rp=rp.id) }}" method="POST">
                                <input type="hidden" name="_method" value="DELETE">
                                <button type="submit" class="btn btn-danger">Supprimer</button>
                            </form>                                                          
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="row mb-4">
            <div class="col">
                <a href="{{ url_for('create_rp') }}" class="btn btn-primary">Créer RP</a>
            </div>
        </div>
        
    </div>
{% endblock %}
