{% extends "layout.html" %}

{% block title %}Profil utilisateur{% endblock %}

{% block head %}
    {{ super() }}
    <title>Web Configurator > Profil utilisateur</title>
{% endblock %}

{% block content %}
    <section>
        <div class="container">
            <div class="row">
                <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{{ url_for('start') }}">Home {{ user.username }}</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Profil utilisateur</li>
                    </ol>
                </nav>
            </div>
        </div>
    </section>
    <h1>Profil de l'utilisateur {{ user.username }}</h1>
    <form action="{{ url_for('search_specific_profil') }}" method="POST">
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Username" name="username" required>
            <button class="btn btn-primary" type="submit">Chercher</button>
        </div>
    </form>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Date de naissance</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.firstname }}</td>
                <td>{{ user.lastname }}</td>
                <td>{{ user.birthdate }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}
