{% extends "layout.html" %}

{% block title %}Liste des utilisateurs{% endblock %}

{% block head %}
    {{ super() }}
    <title>Web Configurator > Liste des utilisateurs</title>
{% endblock %}

{% block content %}
    <section>
        <div class="container">
            <div class="row">
                <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{{ url_for('start') }}">Home {{ user.username }}</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Liste des utilisateurs</li>
                    </ol>
                </nav>
            </div>
        </div>
    </section>
    <h1>Liste des utilisateurs</h1>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Date de naissance</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.firstname }}</td>
                <td>{{ user.lastname }}</td>
                <td>{{ user.birthdate }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
